
@{
        ViewData["Title"] = "Consultation Booking";
}

<div class="container">
    <h4 class="mb-4">
        Book a consulation with your Lecturer.
    </h4>
    <div class="row">
        <div class="col-md-10">
            <h5> Your details</h5>
            <form action="#" method="get">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter your First Name" required />
                    </div>


                    <div class="col-md-4 form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter your Last Name" required />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="form-group">
                            <label for="email">Email</label> <div class="input-group">
                                <div class="input-group-prepend">

                                </div> <input type="email" class="form-control" id="emailAddress" placeholder="Enter your Email Address" required />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class=" col-md-8 form-group">
                        <label for="comments">Comments</label>
                        <textarea class="form-control" id="comments" rows="5">
						</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>